Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2024-10, with the labels that each got.

#209 new scorpion health buff
  needs configs/Readme.md
  src/Addons/34thPRC_FactionBrimstone/$PREFIX$
  src/Addons/34thPRC_FactionBrimstone/config.cpp
  src/Addons/34thPRC_FactionBrimstone/data/company_emblem.paa
  src/Addons/34thPRC_Vehicles/$PREFIX$
  src/Addons/34thPRC_Vehicles/config.cpp
  src/Addons/34thPRC_Vehicles/data/config_vehicles.hpp
  src/Addons/34thPRC_Vehicles/data/scorpion/config_vehicles.hpp
  src/changelog.md
Labels: meta, area: config, area: texture

#212 0.15.0
  src/changelog.md
Labels: release

#211 Fix the build script when using parallel builds
  build.ps1
Labels: meta

#224 code style fixes
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_glasses.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/grl45/config_magazines.hpp
Labels: area: config, area: texture, house keeping

#222 odst cqb armor option urban
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_cqb_urban.paa
  src/changelog.md
Labels: area: config, area: texture, house keeping

#196 new scorpion textures
  src/Addons/34thPRC_Vehicles/data/scorpion/M808B_Commander_co.paa
  src/Addons/34thPRC_Vehicles/data/scorpion/M808B_Details_EXT_2_co.paa
  src/Addons/34thPRC_Vehicles/data/scorpion/M808B_Details_EXT_co.paa
  src/Addons/34thPRC_Vehicles/data/scorpion/M808B_Hull_co.paa
  src/Addons/34thPRC_Vehicles/data/scorpion/M808B_Track_Housing_Front_co.paa
  src/Addons/34thPRC_Vehicles/data/scorpion/M808B_Track_Housing_Rear_co.paa
  src/Addons/34thPRC_Vehicles/data/scorpion/M808B_Turret_co.paa
  src/Addons/34thPRC_Vehicles/data/scorpion/config_vehicles.hpp
  src/changelog.md
Labels: meta, area: config, area: texture

#227 0.16.0
  src/changelog.md
Labels: release
