Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2024-03, with the labels that each got.

#87 Feature/mkiv
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

#91 Added classes for visorless helmet selections
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
  src/changelog.md
Labels: area: config

#94 NV -> No visor
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
Labels: area: config

#62 Documentation Rewrite
  .github/labeler.yml
  README.md
  doc/Code_Style.md
  doc/Getting_Started.md
  doc/Senior_Developer.md
  tools/readme.md
Labels: documentation, help wanted, meta
