Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2024-09, with the labels that each got.

#186 Fix BR55 muzzle attachment not appearing
  src/Addons/34thPRC_Overrides/data/weapons/br55/config_weapons.hpp
  src/changelog.md
Labels: area: config

#193 Updated armor textures
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_LowerArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperShoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_UpperArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Medic_Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_UpperBDU.paa
  src/changelog.md
Labels: area: texture

#194 AAX for ODST bakcpacks and some AAX tidy up
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/changelog.md
Labels: area: config

#195 0.12.0
  src/changelog.md
Labels: release

#203 Urban blue camo
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Blue_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Blue_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Blue_UpperBDU.paa
  src/changelog.md
Labels: area: config, area: texture

#204 0.13.0
  src/changelog.md
Labels: release

#206 UNSC Styled Gunbag
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/backpacks/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/marines/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#207 build script improvements
  build.ps1
Labels: meta

#208 0.14.0
  src/changelog.md
Labels: release
