Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2024-12, with the labels that each got.

#252 Create editor-config-enforcer.yml
  .github/workflows/editor-config-enforcer.yml
Labels: meta

#254 Fix Editor Config issues
  .editorconfig
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/Bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/Feature.md
  .github/labeler.yml
  .github/workflows/auto-author-assign.yml
  .github/workflows/changelog-reminder.yml
  .github/workflows/editor-config-enforcer.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/stale.yml
  doc/Code_Style.md
  doc/Senior_Developer.md
  needs configs/Readme.md
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/spi/config_weapons.hpp
  src/Addons/34thPRC_Markers/config.cpp
  src/Addons/34thPRC_Overrides/data/backpacks/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/marines/config_vehicles.hpp
  src/Addons/SEC_GuestPack/config.cpp
  src/changelog.md
Labels: documentation, meta, area: config, house keeping

#256 ODST2 Marksman Shoulder Fix
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Marksman.paa
  src/changelog.md
Labels: bug, area: texture

#258 0.18.1
  src/changelog.md
Labels: release

#216 More inventory for exosuits
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/backpacks/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/exosuit/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#266 Auto label RVMAT as config
  .github/labeler.yml
Labels: meta

#269 Add missing scorpion entries to allow them to be used in zeus
  src/Addons/34thPRC_Vehicles/config.cpp
  src/changelog.md
Labels: area: config

#265 Refactor configs so that camos have their own files
  .gitattributes
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/config_weapons.hpp
  src/Addons/34thPRC_Vehicles/config.cpp
Labels: meta, area: config, house keeping

#270 marines2 config_vehicles.hpp split by camo
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/config_vehicles.hpp
Labels: area: config

#271 Fix whitespace
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/beret/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_FactionBrimstone/config.cpp
  src/Addons/34thPRC_LoadingScreens/config.cpp
  src/Addons/34thPRC_Markers/config.cpp
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/backpacks/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/exosuit/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/marines/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/uniforms/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/uniforms/spartan_undersuits/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/bulldog/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/springbok/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/weapons/br55/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/bulldog/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/bulldog/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/grl45/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/grl45/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/m392/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/m7/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/ma2b/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/ma5b/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/sidekick/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/srs99rm/config_weapons.hpp
  src/Addons/34thPRC_Vehicles/data/config_vehicles.hpp
  src/Addons/34thPRC_Vehicles/data/scorpion/config_vehicles.hpp
  src/Addons/SEC_GuestPack/config.cpp
  src/Addons/sc_uniforms/config.cpp
  src/mod.cpp
Labels: area: config

#272 Test the configs on build using Arma 3 Tools
  build.ps1
Labels: meta, area: config

#274 1.19.0
  src/changelog.md
Labels: release

#277 Feature/custom armour cappy
  build.ps1
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_ArmourCustom/config.cpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arctic/odst_cqb_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arctic/odst_vest_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arid/odst_cqb_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arid/odst_vest_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/tropic/odst_cqb_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/tropic/odst_vest_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/urban/odst_cqb_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/urban/odst_vest_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/woodland/odst_cqb_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/woodland/odst_vest_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/config_weapons.hpp
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/backpacks/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/exosuit/config_vehicles.hpp
  src/changelog.md
Labels: meta, area: config, area: texture

#278 Feature/eod helmet camos
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/mkvb/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/34th_eod_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/34th_eod_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/34th_eod_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/34th_eod_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/34th_eod_helmet_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/cbrn/34th_eod_cbrn_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/cbrn/34th_eod_cbrn_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/cbrn/34th_eod_cbrn_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/cbrn/34th_eod_cbrn_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/EOD/cbrn/34th_eod_cbrn_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

#279 Feature/custom helm cappy
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_ArmourCustom/config.cpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arctic/eod_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/arid/eod_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/tropic/eod_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/urban/eod_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/visor/eod_helmet_visor.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/cappy/woodland/eod_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#261 cleaner aax configs
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_custom/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_custom/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_custom/marines2/jade/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_custom/odst2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_custom/odst2/yandere/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/config.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/config_weapons.hpp
Labels: area: config, house keeping

#282 LR Radio in Springbok Cmdr Seat
  src/Addons/34thPRC_Overrides/data/vehicles/springbok/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#286 EOD Refactor & New Structure
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/mkvb/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/34th_eod_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/34th_eod_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/34th_eod_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/34th_eod_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/34th_eod_helmet_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/cbrn/34th_eod_cbrn_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/cbrn/34th_eod_cbrn_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/cbrn/34th_eod_cbrn_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/cbrn/34th_eod_cbrn_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/cbrn/34th_eod_cbrn_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
Labels: area: config, area: texture

#291 Fix carry capacity being lower on no shoulder versions of marine BDU
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_weapons.hpp
  src/changelog.md
Labels: area: config

#292 Update/gungnir 4 marines
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/gungnir/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/gungnir/gungnir_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/gungnir/gungnir_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/gungnir/gungnir_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/gungnir/gungnir_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/gungnir/gungnir_helmet_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture
