Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2024-02, with the labels that each got.

#39 fix auto labeler
  .github/labeler.yml
Labels: meta

#43 34th PRC Marine Uniform/Helmet Update
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/helmet_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/helmet_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/legs_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/legs_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shirt_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shirt_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shoulders_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shoulders_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/helmet_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/helmet_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/legs_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/legs_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shirt_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shirt_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shoulders_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shoulders_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/helmet_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/legs_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/shirt_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/shoulders_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/helmet_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shoulders_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/helmet_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/helmet_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/legs_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/legs_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shirt_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shirt_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shoulders_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shoulders_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/infantry/config_weapons.hpp
  src/Addons/34thPRC_Armour_Standard/data/infantry/helmet_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/legs_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/shirt_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/shoulders_co.paa
Labels: area: config, area: texture

#47 Create changelog.yml
  .github/workflows/changelog.yml
Labels: meta

#49 Update and rename changelog.yml to changelog-reminder.yml
  .github/workflows/changelog-reminder.yml
  .github/workflows/changelog.yml
Labels: meta

#52 addons not addond
  src/Addons/34thPRC_Armour_Standard/config.cpp
Labels: area: config

#53 ODST Uniform and Helmet Update
  src/Addons/34thPRC_Armour_Standard/config.cpp
  src/Addons/34thPRC_Armour_Standard/data/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_helmet_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_lower_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_medic_upper_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_upper_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_helmet_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_lower_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_medic_upper_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_upper_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_helmet_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_lower_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_medic_upper_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_upper_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_helmet_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_lower_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_medic_upper_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_upper_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_helmet_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_lower_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_medic_upper_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_upper_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arctic/34_odst_helmet_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arctic/34_odst_lower_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arctic/34_odst_medic_upper_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arctic/34_odst_upper_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arctic/odst_undersuit_arctic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arid/34_odst_helmet_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arid/34_odst_lower_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arid/34_odst_medic_upper_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arid/34_odst_upper_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arid/odst_undersuit_arid_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_Armour_Standard/data/odst/hr_odst_visor_maroon_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/tropic/34_odst_helmet_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/tropic/34_odst_lower_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/tropic/34_odst_medic_upper_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/tropic/34_odst_upper_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/tropic/odst_undersuit_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/34_odst_helmet_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/34_odst_lower_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/34_odst_medic_upper_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/34_odst_upper_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/odst_undersuit_urban_blue_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/odst_undersuit_urban_red_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/woodland/34_odst_helmet_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/woodland/34_odst_lower_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/woodland/34_odst_medic_upper_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/woodland/34_odst_upper_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/woodland/odst_undersuit_woodland_co.paa
  src/changelog.md
Labels: area: config, area: texture

#55 lowercase in side of the PBO
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/helmet_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/helmet_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/legs_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/legs_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/shirt_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/shirt_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/shoulders_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arctic/shoulders_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/helmet_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/helmet_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/legs_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/legs_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/shirt_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/shirt_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/shoulders_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/arid/shoulders_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/infantry/config_weapons.hpp
  src/Addons/34thPRC_Armour_Standard/data/infantry/tropic/helmet_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/tropic/legs_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/tropic/shirt_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/tropic/shoulders_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/helmet_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/legs_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/legs_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/legs_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/legs_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/legs_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/shirt_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/shirt_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/shirt_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/shirt_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/shirt_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/urban/shoulders_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/helmet_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/helmet_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/legs_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/legs_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/shirt_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/shirt_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/shoulders_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/woodland/shoulders_woodland_light_co.paa
Labels: area: config, area: texture

#57 I messed up the rename
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/helmet_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/helmet_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/legs_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/legs_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shirt_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shirt_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shoulders_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arctic/shoulders_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/helmet_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/helmet_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/legs_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/legs_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shirt_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shirt_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shoulders_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Arid/shoulders_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/helmet_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/legs_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/shirt_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Tropic/shoulders_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/helmet_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/legs_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shirt_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Urban/shoulders_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/helmet_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/helmet_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/legs_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/legs_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shirt_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shirt_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shoulders_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/infantry/Woodland/shoulders_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_helmet_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_lower_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_medic_upper_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arctic/34_odst_upper_arctic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_helmet_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_lower_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_medic_upper_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Arid/34_odst_upper_arid.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_helmet_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_lower_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_medic_upper_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Tropic/34_odst_upper_tropic.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_helmet_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_lower_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_medic_upper_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Urban/34_odst_upper_urban.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_helmet_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_lower_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_medic_upper_woodland.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/Woodland/34_odst_upper_woodland.paa
Labels: area: texture

#58 ODST Backpacks
  src/Addons/34thPRC_Armour_Standard/data/odst/34_backpack_radio_red_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arctic/34_odst_ruck_arctic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arctic/34_odst_ruck_medic_arctic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arid/34_odst_ruck_arid_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/arid/34_odst_ruck_medic_arid_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/odst/tropic/34_odst_ruck_medic_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/tropic/34_odst_ruck_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/34_odst_ruck_medic_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/urban/34_odst_ruck_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/woodland/34_odst_ruck_medic_woodland_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/woodland/34_odst_ruck_woodland_co.paa
  src/changelog.md
Labels: area: config, area: texture

#61 Swap to the new logo in the mod.cpp
  src/34thPRC.paa
  src/34thPRC_LowVis.paa
  src/34thPRC_logo.paa
  src/changelog.md
  src/mod.cpp
  useful pngs/unit badges/34ParaReconVer1.png
  useful pngs/unit badges/LowVis1.png
  useful pngs/unit badges/logo-Ver002.png
Labels: meta, area: config, area: texture

#66 Change class names to match code style
  src/Addons/34thPRC_Armour_Standard/data/beret/config_weapons.hpp
  src/Addons/34thPRC_Armour_Standard/data/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/config_weapons.hpp
  src/Addons/34thPRC_Armour_Standard/data/infantry/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/infantry/config_weapons.hpp
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/helmet_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/helmet_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/legs_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/legs_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/shirt_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/shirt_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/shoulders_arctic_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arctic/shoulders_arctic_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/helmet_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/helmet_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/legs_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/legs_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/shirt_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/shirt_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/shoulders_arid_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/arid/shoulders_arid_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/marines/config_weapons.hpp
  src/Addons/34thPRC_Armour_Standard/data/marines/tropic/helmet_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/tropic/legs_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/tropic/shirt_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/tropic/shoulders_tropic_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/helmet_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/legs_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/legs_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/legs_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/legs_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/legs_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/shirt_urban_blue_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/shirt_urban_blue_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/shirt_urban_blue_medium_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/shirt_urban_red_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/shirt_urban_red_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/urban/shoulders_urban_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/helmet_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/helmet_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/legs_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/legs_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/shirt_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/shirt_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/shoulders_woodland_dark_co.paa
  src/Addons/34thPRC_Armour_Standard/data/marines/woodland/shoulders_woodland_light_co.paa
  src/Addons/34thPRC_Armour_Standard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_Armour_Standard/data/odst/config_weapons.hpp
  src/changelog.md
Labels: documentation, area: config, area: texture

#68 Fix beret emblem
  src/Addons/34thPRC_Armour_Standard/data/beret/beret_01.paa
  src/Addons/34thPRC_Armour_Standard/data/beret/beret_02.paa
  src/mod.cpp
  useful pngs/unit badges/Company Emblem.png
Labels: meta, area: config, area: texture

#72 Map markers
  src/Addons/34thPRC_Markers/$PREFIX$
  src/Addons/34thPRC_Markers/config.cpp
  src/Addons/34thPRC_Markers/data/company_emblem.paa
  src/Addons/34thPRC_Markers/data/mammon_1-1.paa
  src/Addons/34thPRC_Markers/data/mammon_1-2.paa
  src/Addons/34thPRC_Markers/data/mammon_1-a.paa
  src/changelog.md
  useful pngs/unit badges/Mammon_1-1.png
  useful pngs/unit badges/Mammon_1-2.png
  useful pngs/unit badges/Mammon_1-A.png
Labels: meta, area: config, area: texture

#81 Marine backpacks
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_Hardcase_arctic_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_hardcase_arctic_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_hardcase_medic_arctic_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_hardcase_medic_arctic_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_radiopack_arctic_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_radiopack_arctic_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_rucksack_arctic_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_rucksack_arctic_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_rucksack_pouches_arctic_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arctic/34_rucksack_pouches_arctic_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_hardcase_arid_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_hardcase_arid_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_hardcase_medic_arid_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_hardcase_medic_arid_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_radiopack_arid_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_radiopack_arid_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_rucksack_arid_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_rucksack_arid_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_rucksack_pouches_arid_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/arid/34_rucksack_pouches_arid_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines/tropic/34_hardcase_medic_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/tropic/34_hardcase_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/tropic/34_radiopack_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/tropic/34_rucksack_pouches_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/tropic/34_rucksack_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/urban/34_hardcase_medic_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/urban/34_hardcase_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/urban/34_radiopack_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/urban/34_rucksack_pouches_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/urban/34_rucksack_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_hardcase_medic_woodland_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_hardcase_medic_woodland_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_hardcase_woodland_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_hardcase_woodland_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_radiopack_woodland_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_radiopack_woodland_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_rucksack_pouches_woodland_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_rucksack_pouches_woodland_light_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_rucksack_woodland_dark_co.paa
  src/Addons/34thPRC_ArmourStandard/data/marines/woodland/34_rucksack_woodland_light_co.paa
  src/changelog.md
Labels: area: config, area: texture

#83 odst backpack update
  src/Addons/34thPRC_ArmourStandard/data/marines/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_ruck_arctic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_ruck_medic_arctic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_ruck_arid_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_ruck_medic_arid_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_ruck_medic_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_ruck_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_ruck_medic_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_ruck_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_ruck_medic_woodland_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_ruck_woodland_co.paa
  src/changelog.md
Labels: area: config, area: texture
