Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2024-08, with the labels that each got.

#158 Feature/camo pngs
  useful pngs/camo patterns/odst/ODST_Arctic.png
  useful pngs/camo patterns/odst/ODST_Tropic.png
  useful pngs/camo patterns/odst/readme.md
Labels: meta

#161 Mjolnir MkV[B] Shoulders improvement
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#157 camo pngs
  useful pngs/camo patterns/marine/arid dark.png
  useful pngs/camo patterns/marine/arid light.png
  useful pngs/camo patterns/marine/readme.md
  useful pngs/camo patterns/marine/tropic.png
  useful pngs/camo patterns/marine/urban blue dark.png
  useful pngs/camo patterns/marine/urban blue light.png
  useful pngs/camo patterns/marine/urban blue medium.png
  useful pngs/camo patterns/marine/urban red dark.png
  useful pngs/camo patterns/marine/urban red light.png
  useful pngs/camo patterns/marine/woodland dark.png
  useful pngs/camo patterns/marine/woodland light.png
  useful pngs/camo patterns/odst/arctic.png
  useful pngs/camo patterns/odst/readme.md
  useful pngs/camo patterns/odst/tropic.png
Labels: meta

#164 SEC Guest Armour Patch
  src/Addons/SEC_GuestPack/config.cpp
  src/changelog.md
Labels: area: config

#166 New marine armour
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/Medic_White_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/White_LowerArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/White_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/White_TrooperShoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/White_UpperArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/Winter_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/Winter_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/Winter_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Desert_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Desert_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Desert_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Medic_Tan_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Tan_LowerArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Tan_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Tan_TrooperShoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Tan_UpperArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_LowerArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperShoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_UpperArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Medic_Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_LowerArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperShoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_UpperArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Medic_Base_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Green_LowerArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Green_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Green_TrooperShoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Green_UpperArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Medic_Green_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Woodland_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Woodland_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Woodland_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

#168 Weapons Attachements Additions (Part 1) & Bigger Spartan Undersuits
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/uniforms/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/uniforms/spartan_undersuits/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/bulldog/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/springbok/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/weapons/br55/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/m392/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/ma5a/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/ma5b/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/srs99rm/config_weapons.hpp
  src/changelog.md
Labels: area: config, gameplay balance

#170 Updated the Urban Armor
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_LowerArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_LowerBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperCollar.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperShoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_UpperArmor.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Medic_Base_TrooperHelmet.paa
Labels: area: texture

#171 weapons attachements additions 2
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/bulldog/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/bulldog/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/grl45/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/grl45/config_weapons.hpp
  src/changelog.md
Labels: area: config

#178 0.11.0
  src/changelog.md
Labels: release

#179 Ace Arsenal Extended Support
  src/Addons/34thPRC_AceArsenalExtended/$PREFIX$
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/aceax_gearinfo/config.cpp
  src/changelog.md
Labels: area: config
