Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2024-11, with the labels that each got.

#228 Visor glasses and eye piece varients
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/visor/HelmetAccessories_Blue_CA.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/visor/HelmetAccessories_Green_CA.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/visor/HelmetAccessories_Orange_CA.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/visor/HelmetAccessories_Purple_CA.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/visor/HelmetAccessories_Red_CA.paa
  src/changelog.md
Labels: enhancement, area: config, area: texture

#231 Updated MkIV textures and materials
  .gitattributes
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/34_MKIV_Upper.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Helmet.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Helmet_34_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Helmet_34_CO.tga
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Helmet_AS.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Helmet_NOHQ.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Helmet_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_34_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_34_CO.tga
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_AS.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_NOHQ.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Shoulders.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Shoulders_34_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Shoulders_34_CO.tga
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Shoulders_AS.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Shoulders_NOHQ.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Shoulders_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Upper.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Upper_34_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Upper_34_CO.tga
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Upper_AS.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Upper_NOHQ.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Upper_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_34_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_34_CO.tga
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_AS.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_CO.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_NOHQ.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
  src/changelog.md
Labels: meta, area: config, area: texture

#234 more loading screens
  src/Addons/34thPRC_LoadingScreens/data/loading1.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading2.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading3.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading6.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading7.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading8.jpg
  src/Addons/34thPRC_LoadingScreens/data/splash_screen.paa
  src/changelog.md
Labels: area: texture

#235 0.17.0
  src/changelog.md
Labels: release

#239 Updated Code_Style.md
  doc/Code_Style.md
Labels: documentation, meta

#241 aax rework
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/vehicles/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/config.hpp
Labels: area: config

#244 new odst armor
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/34th_CH252D.rvmat
  src/Addons/34thPRC_ArmourStandard/data/odst2/34th_odst_M52.rvmat
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_Arctic_ODST_CQB.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_Arctic_ODST_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_Arctic_ODST_Marksman.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_Arctic_ODST_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_Arctic_ODST_Shoulders_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_Arctic_ODST_Vest.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_Arctic_ODST_Vest_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_Arid_ODST_CQB.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_Arid_ODST_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_Arid_ODST_Marksman.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_Arid_ODST_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_Arid_ODST_Shoulders_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_Arid_ODST_Vest.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_Arid_ODST_Vest_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_Tropic_ODST_CQB.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_Tropic_ODST_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_Tropic_ODST_Marksman.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_Tropic_ODST_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_Tropic_ODST_Shoulders_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_Tropic_ODST_Vest.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_Tropic_ODST_Vest_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_Urban_ODST_CQB.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_Urban_ODST_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_Urban_ODST_Marksman.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_Urban_ODST_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_Urban_ODST_Shoulders_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_Urban_ODST_Vest.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_Urban_ODST_Vest_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/visor/34th_ODST_Goldvisor.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/visor/34th_ODST_Redvisor.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/visor/34th_ODST_Silvervisor.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_CQB.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Shoulders_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Vest.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Vest_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland__ODST_Marksman.paa
  src/changelog.md
Labels: area: config, area: texture

#245 Deplorarization
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_weapons.hpp
Labels: enhancement, area: config, area: texture

#246 0.18.0
  src/changelog.md
Labels: release

#249 Depolarized Helmets, Arsenal Removal
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_weapons.hpp
  src/changelog.md
Labels: area: config

#251 M52-A Fix
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_weapons.hpp
Labels: area: config
