Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2025-04, with the labels that each got.

#510 Fix/ace arsenal extended prefix+paths
  addons/ace_arsenal_extended/$PREFIX$
  addons/ace_arsenal_extended/data/aax_models/weapons/armour_custom/marines2/group1/config.hpp
  addons/ace_arsenal_extended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  changelog.md
Labels: area: config

#511 Fix/prefix+paths cluster fix
  addons/faction_brimstone/$PREFIX$
  addons/faction_brimstone/config.cpp
  addons/loading_screens/$PREFIX$
  addons/loading_screens/config.cpp
  addons/markers/$PREFIX$
  addons/markers/config.cpp
  addons/music_radio/$PREFIX$
  addons/music_radio/config.cpp
  addons/vehicles/$PREFIX$
  changelog.md
Labels: area: config

#520 0.29.0
  addons/main/script_version.hpp
  changelog.md
Labels: area: config, release

#519 Display name issues for camo names
  addons/armour_custom/data/marines2/conex/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/woodland/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/woodland/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/woodland/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/woodland/config_weapons.hpp
  addons/armour_custom/data/odst2/ambrose/arctic/config_weapons.hpp
  addons/armour_custom/data/odst2/ambrose/arid/config_weapons.hpp
  addons/armour_custom/data/odst2/ambrose/tropic/config_weapons.hpp
  addons/armour_custom/data/odst2/ambrose/urban/config_weapons.hpp
  addons/armour_custom/data/odst2/ambrose/woodland/config_weapons.hpp
  addons/armour_custom/data/odst2/cappy/arctic/config_weapons.hpp
  addons/armour_custom/data/odst2/cappy/arid/config_weapons.hpp
  addons/armour_custom/data/odst2/cappy/tropic/config_weapons.hpp
  addons/armour_custom/data/odst2/cappy/urban/config_weapons.hpp
  addons/armour_custom/data/odst2/cappy/woodland/config_weapons.hpp
  addons/armour_custom/data/odst2/luther/arctic/config_weapons.hpp
  addons/armour_custom/data/odst2/luther/arid/config_weapons.hpp
  addons/armour_custom/data/odst2/luther/tropic/config_weapons.hpp
  addons/armour_custom/data/odst2/luther/urban/config_weapons.hpp
  addons/armour_custom/data/odst2/luther/woodland/config_weapons.hpp
  addons/armour_custom/data/odst2/shewolf/arctic/config_weapons.hpp
  addons/armour_custom/data/odst2/shewolf/arid/config_weapons.hpp
  addons/armour_custom/data/odst2/shewolf/tropic/config_weapons.hpp
  addons/armour_custom/data/odst2/shewolf/urban/config_weapons.hpp
  addons/armour_custom/data/odst2/shewolf/woodland/config_weapons.hpp
  addons/armour_custom/data/odst2/vasya/arctic/config_weapons.hpp
  addons/armour_custom/data/odst2/vasya/arid/config_weapons.hpp
  addons/armour_custom/data/odst2/vasya/tropic/config_weapons.hpp
  addons/armour_custom/data/odst2/vasya/urban/config_weapons.hpp
  addons/armour_custom/data/odst2/vasya/woodland/config_weapons.hpp
  addons/armour_custom/data/odst2/yandere/arctic/config_weapons.hpp
  addons/armour_custom/data/odst2/yandere/arid/config_weapons.hpp
  addons/armour_custom/data/odst2/yandere/tropic/config_weapons.hpp
  addons/armour_custom/data/odst2/yandere/urban/config_weapons.hpp
  addons/armour_custom/data/odst2/yandere/woodland/config_weapons.hpp
  changelog.md
Labels: area: config

#522 AAX for the crewman helmets
  addons/ace_arsenal_extended/data/aax_models/weapons/armour_standard/config.hpp
  addons/ace_arsenal_extended/data/aax_models/weapons/armour_standard/crewman/config.hpp
  addons/armour_standard/data/crewman/config_weapons.hpp
  changelog.md
Labels: area: config

#523 fix aax being anoying when trying to select helmet customisation
  addons/ace_arsenal_extended/data/aax_models/weapons/armour_custom/marines2/group1/config.hpp
  addons/ace_arsenal_extended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  addons/armour_custom/data/marines2/conex/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/conex/woodland/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/harrison/woodland/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/jade/woodland/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/arctic/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/arid/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/tropic/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/urban/config_weapons.hpp
  addons/armour_custom/data/marines2/ramirez/woodland/config_weapons.hpp
  addons/armour_standard/data/marines2/arctic/config_weapons.hpp
  addons/armour_standard/data/marines2/arid/config_weapons.hpp
  addons/armour_standard/data/marines2/tropic/config_weapons.hpp
  addons/armour_standard/data/marines2/urban/config_weapons.hpp
  addons/armour_standard/data/marines2/woodland/config_weapons.hpp
  changelog.md
Labels: area: config

#525 Feature/tf king armor
  addons/armour_standard/patches/tf_king/armor_chest_CO.paa
  addons/armour_standard/patches/tf_king/armor_legs_CO.paa
  addons/armour_standard/patches/tf_king/config.cpp
  addons/armour_standard/patches/tf_king/helmet_CO.paa
  addons/armour_standard/patches/tf_king/helmet_cm_CO.paa
  changelog.md
Labels: area: config, area: texture

#527 Fix/missile count expansion
  addons/overrides/data/OPTRE Patches/optre_M638/config.cpp
  addons/overrides/data/OPTRE Patches/optre_pylons/config.cpp
  addons/weapons_standard/34thPRC_M638/config.cpp
  addons/weapons_standard/Magazines/2krnd_20mmhe/config.cpp
  addons/weapons_standard/Magazines/34thPRC_Scorpion_Missiles/config.cpp
  addons/weapons_standard/Magazines/jacknife_missiles/config.cpp
  changelog.md
Labels: area: config

#528 Hotfix/markers pbo
  addons/main/script_version.hpp
  addons/markers/config.cpp
  changelog.md
Labels: area: config, release

#554 release/0.30.0
  addons/main/script_version.hpp
  changelog.md
Labels: area: config, release

#556 Release/0.30.1
  addons/main/script_version.hpp
  changelog.md
Labels: area: config, release

#558 Fix scorpion textures
  addons/vehicles/data/scorpion/config_vehicles.hpp
  changelog.md
Labels: area: config

#562 Feature/increase bullet velocity for the br55 ammo
  addons/overrides/data/UNSC Foundries Patches/BR55/config.cpp
  addons/overrides/data/weapons/br55/config_weapons.hpp
  addons/overrides/data/weapons/config_weapons.hpp
  changelog.md
Labels: area: config

#566 update modlist for HEMTT test
  .hemtt/presets/main.html
Labels: meta

#565 range update and changelog
  addons/armour_standard/data/odst2/urban/config_vehicles.hpp
  changelog.md
Labels: area: config

#570 Fix/issue568
  addons/ace_arsenal_extended/data/aax_models/weapons/armour_custom/marines2_armour/config.hpp
  addons/armour_custom/data/marines2/harrison/urban/config_vehicles.hpp
  addons/armour_custom/data/marines2/jade/urban/config_vehicles.hpp
  addons/overrides/data/weapons/m7/config_weapons.hpp
Labels: area: config

#573 0.31.0
  addons/main/script_version.hpp
  changelog.md
Labels: area: config, release

#574 Hotfix: 0.31.1 - rvmats and M52-R
  addons/ace_arsenal_extended/data/aax_models/vehicles/armour_standard/odst2_rucksack/config.hpp
  addons/armour_standard/data/odst2/34th_odst_helmet.rvmat
  addons/armour_standard/data/odst2/34th_odst_visor.rvmat
  addons/armour_standard/data/odst2/M52_Rucksack.rvmat
  addons/armour_standard/data/odst2/cqb_shoulders.rvmat
  addons/armour_standard/data/odst2/marksman_shoulders.rvmat
  addons/armour_standard/data/odst2/odst_shoulders.rvmat
  addons/armour_standard/data/odst2/odst_vest.rvmat
  addons/main/script_version.hpp
  changelog.md
Labels: area: config, release

#577 ODST rvmats
  addons/armour_standard/data/odst2/urban/config_weapons.hpp
  changelog.md
Labels: area: config
