Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2025-03, with the labels that each got.

#438 Big Aircraft Overhaul
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_bayonet/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_bayonet/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_falcon/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_falcon/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_gladius/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_gladius/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_hornet/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_hornet/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_longsword/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_longsword/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_pelican/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_pelican/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_socom_pelican/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_socom_pelican/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_sparrowhawk/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_sparrowhawk/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_wombat/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_wombat/config.cpp
  src/Addons/34thPRC_Overrides/data/UNSC Foundries Patches/Heavy Pelican/$PREFIX$
  src/Addons/34thPRC_Overrides/data/UNSC Foundries Patches/Heavy Pelican/config.cpp
  src/changelog.md
Labels: area: config

#439 0.26.0
  src/Addons/34thPRC_Main/config.cpp
  src/changelog.md
Labels: area: config, release

#418 remove old odst stuff
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/34_backpack_radio_red_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_lower_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_medic_upper_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_ruck_arctic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_ruck_medic_arctic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34_odst_upper_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/odst_undersuit_arctic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_lower_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_medic_upper_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_ruck_arid_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_ruck_medic_arid_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34_odst_upper_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/odst_undersuit_arid_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/hr_odst_visor_maroon_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_lower_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_medic_upper_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_ruck_medic_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_ruck_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34_odst_upper_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/odst_undersuit_tropic_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_cqb_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_lower_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_medic_upper_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_ruck_medic_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_ruck_urban_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/34_odst_upper_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/odst_undersuit_urban_blue_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/urban/odst_undersuit_urban_red_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_helmet_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_lower_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_medic_upper_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_ruck_medic_woodland_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_ruck_woodland_co.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34_odst_upper_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/odst_undersuit_woodland_co.paa
  src/changelog.md
Labels: area: config, area: texture

#441 backported fixes from hemtt
  .gitignore
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_Main/config.cpp
  src/Addons/34thPRC_Main/script_version.hpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_falcon/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_hornet/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_pelican/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_socom_pelican/$PREFIX$
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_socom_pelican/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_sparrowhawk/config.cpp
  src/Addons/34thPRC_Overrides/data/UNSC Foundries Patches/Heavy Pelican/config.cpp
Labels: meta, area: config

#443 Create release-reminder.yml
  .github/workflows/release-reminder.yml
Labels: meta

#446 woops
  src/Addons/34thPRC_Main/config.cpp
Labels: area: config

#449 Feature/aircraft music
  src/Addons/34thPRC_Functions/MusicRadio/$PREFIX$
  src/Addons/34thPRC_Functions/MusicRadio/config.cpp
  src/Addons/34thPRC_Functions/MusicRadio/functions/fn_addCustomMusic.sqf
  src/Addons/34thPRC_Functions/MusicRadio/functions/fn_remoteSay3D.sqf
  src/Addons/34thPRC_MusicRadio/$PREFIX$
  src/Addons/34thPRC_MusicRadio/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_falcon/config.cpp
  src/changelog.md
Labels: area: config, area: script

#448 fix typos with release reminder
  .github/workflows/release-reminder.yml
Labels: meta

#450 Update marine helm texture
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/Medic_White_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/White_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Medic_Tan_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Tan_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Medic_Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Medic_Base_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Green_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Medic_Green_TrooperHelmet.paa
  src/changelog.md
Labels: area: texture

#452 Feature/airframe ammo reconfig
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_bayonet/config.cpp
  src/Addons/34thPRC_Overrides/data/OPTRE Patches/optre_falcon/config.cpp
  src/Addons/34thPRC_Overrides/data/vehicles/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/falcon/config_vehicles.hpp
  src/Addons/34thPRC_WeaponsStandard/34thPRC_Jackknife_Missiles/$PREFIX$
  src/Addons/34thPRC_WeaponsStandard/34thPRC_Jackknife_Missiles/config.cpp
  src/Addons/34thPRC_WeaponsStandard/34thPRC_M638/$PREFIX$
  src/Addons/34thPRC_WeaponsStandard/34thPRC_M638/config.cpp
  src/Addons/34thPRC_WeaponsStandard/34thPRC_Scorpion_Missiles/$PREFIX$
  src/Addons/34thPRC_WeaponsStandard/34thPRC_Scorpion_Missiles/config.cpp
  src/Addons/34thPRC_WeaponsStandard/Ammo/$PREFIX$
  src/Addons/34thPRC_WeaponsStandard/Ammo/config.cpp
  src/Addons/34thPRC_WeaponsStandard/Magazines/$PREFIX$
  src/Addons/34thPRC_WeaponsStandard/Magazines/config.cpp
  src/changelog.md
Labels: area: config

#453 Update/marine helm
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/Medic_White_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/White_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Medic_Tan_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Tan_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Medic_Brown_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Medic_Base_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Green_TrooperHelmet.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Medic_Green_TrooperHelmet.paa
  src/changelog.md
Labels: area: texture

#456 Prep-Release improvements
  .github/workflows/prep-release.yml
  .github/workflows/release-reminder.yml
Labels: meta

#457 More attempts at making prep-release work
  .github/workflows/prep-release.yml
Labels: meta

#458 Fix/prep release again
  .github/workflows/prep-release.yml
Labels: meta

#459 Fix/prep release again
  .github/workflows/prep-release.yml
Labels: meta

#460 Fix/prep release
  .github/workflows/prep-release.yml
Labels: meta

#461 Fix/prep release
  .github/workflows/prep-release.yml
Labels: meta

#463 Fix/prep release
  .github/workflows/prep-release.yml
Labels: meta

#464 Fix/prep release
  .github/workflows/prep-release.yml
Labels: meta

#465 Fix/prep release
  .github/workflows/prep-release.yml
Labels: meta

#455 fix indent
  src/Addons/34thPRC_Overrides/data/vehicles/falcon/config_vehicles.hpp
Labels: area: config

#468 AAX Camo Colors Selection
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/marines2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/pilot/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/camo_pattern/Arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/camo_pattern/Arid.paa
  src/Addons/34thPRC_ArmourStandard/data/camo_pattern/Night.paa
  src/Addons/34thPRC_ArmourStandard/data/camo_pattern/Tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/camo_pattern/Urban.paa
  src/Addons/34thPRC_ArmourStandard/data/camo_pattern/Woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#471 Fix prep release
  .github/workflows/prep-release.yml
  prepRelease.ps1
Labels: meta

#479 Fix/falcon mfd error
  addons/overrides/data/OPTRE Patches/optre_M638/config.cpp
  addons/overrides/data/OPTRE Patches/optre_falcon/config.cpp
  changelog.md
Labels: area: config

#478 make release github action
  .github/workflows/hemtt-build.yml
  .github/workflows/make-release.yml
  .github/workflows/prep-release.yml
Labels: meta

#481 0.27.1
  addons/main/script_version.hpp
  changelog.md
Labels: release

#484 restore legacy build system
  build.bat
  build.ps1
  build.sh
Labels: meta

#483 update modlist
  .hemtt/presets/main.html
Labels: meta

#485 0.28.0
  addons/main/script_version.hpp
  changelog.md
Labels: area: config, release

#477 onboarding improvements
  .github/workflows/greetings.yml
  meta/doc/Getting_Started.md
Labels: documentation, meta

#472 stale branches checker
  .github/workflows/stale.yml
Labels: meta

#488 fix m99 + music scripts when built with HEMTT
  addons/functions/$PREFIX$
  addons/functions/M99A2S3A/a2s3a_postinit.sqf
  addons/functions/M99A2S3A/a2s3a_preinit.sqf
  addons/functions/M99A2S3A/a2s3a_prestart.sqf
  addons/functions/M99A2S3A/config.cpp
  addons/functions/M99A2S3A/functions/ace/airburst_ammunition_handler.sqf
  addons/functions/M99A2S3A/functions/conditions.sqf
  addons/functions/M99A2S3A/functions/fired_eh.sqf
  addons/functions/M99A2S3A/functions/handle_is_burst.sqf
  addons/functions/M99A2S3A/functions/keybind.sqf
  addons/functions/M99A2S3A/functions/lase_distance_infantry.sqf
  addons/functions/M99A2S3A/functions/lase_distance_vehicle.sqf
  addons/functions/M99A2S3A/functions/set_fuse_distance.sqf
  addons/functions/M99A2S3A/functions/ui/onConfirm.sqf
  addons/functions/M99A2S3A/functions/ui/onExit.sqf
  addons/functions/M99A2S3A/functions/ui/onLoad.sqf
  addons/functions/MusicRadio/$PREFIX$
  addons/functions/MusicRadio/config.cpp
  addons/functions/config.cpp
  changelog.md
Labels: area: config, area: script

#502 Fix make release
  .github/workflows/make-release.yml
Labels: meta
