Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2025-02, with the labels that each got.

#368 Custom Armor Harrison
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/marines2/group1/config.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/config_vehicles.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arctic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arctic/harrison_marine_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arctic/harrison_marine_helmet_medic_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arctic/harrison_marine_shoulders_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arctic/harrison_marine_upperarmor_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arid/config_vehicles.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arid/harrison_marine_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arid/harrison_marine_helmet_medic_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arid/harrison_marine_shoulders_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/arid/harrison_marine_upperarmor_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/config_vehicles.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/tropic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/tropic/harrison_marine_helmet_medic_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/tropic/harrison_marine_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/tropic/harrison_marine_shoulders_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/tropic/harrison_marine_upperarmor_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/urban/config_vehicles.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/urban/harrison_marine_helmet_medic_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/urban/harrison_marine_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/urban/harrison_marine_shoulders.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/urban/harrison_marine_upperarmor_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/woodland/config_vehicles.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/woodland/harrison_marine_helmet_medic_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/woodland/harrison_marine_helmet_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/woodland/harrison_marine_shoulders_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/harrison/woodland/harrison_marine_upperarmor_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#370 Grapplinghook Jump-Jet
  src/Addons/34thPRC_ArmourStandard/data/odst2/backpacks/s9solajumpjet/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#371 AAX Support for Immersion Cigs Rewrite
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/glasses/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/glasses/external/immersioncigs_rewrite/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/glasses/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/glasses/external/immersioncigs_rewrite/config.hpp
  src/changelog.md
Labels: area: config

#375 Loading screen additions
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_vehicles.hpp
  src/Addons/34thPRC_LoadingScreens/data/loading10.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading11.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading12.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading13.jpg
  src/Addons/34thPRC_LoadingScreens/data/loading14.jpg
Labels: area: config

#374 Feature/grapple pack
  src/Addons/34thPRC_ArmourStandard/data/odst2/backpacks/s9solajumpjet/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#377 KJW Implementation and rework of jumppacks
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/backpacks/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/backpacks/s9solajumpjet/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/patches/jumppacks/kjwjetpacks/config.cpp
  src/Addons/34thPRC_ArmourStandard/patches/jumppacks/scionconflict/config.cpp
  src/changelog.md
Labels: area: config

#365 Feature/xm1 ab srs
  src/Addons/34thPRC_Functions/M99A2S3A/_includes/defines.hpp
  src/Addons/34thPRC_Functions/M99A2S3A/_includes/defines_macros.hpp
  src/Addons/34thPRC_Functions/M99A2S3A/_includes/rsc.hpp
  src/Addons/34thPRC_Functions/M99A2S3A/a2s3a_postinit.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/a2s3a_preinit.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/a2s3a_prestart.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/config.cpp
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ace/airburst_ammunition_handler.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/conditions.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/fired_eh.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/handle_is_burst.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/keybind.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/lase_distance_infantry.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/lase_distance_vehicle.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/set_fuse_distance.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ui/onConfirm.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ui/onExit.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ui/onLoad.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/resources/superintendant.paa
  src/Addons/34thPRC_Functions/M99A2S3A/resources/terminal.paa
  src/Addons/34thPRC_Functions/config.cpp
  src/Addons/34thPRC_Main/config.cpp
  src/Addons/34thPRC_WeaponsStandard/$PREFIX$
  src/Addons/34thPRC_WeaponsStandard/M99A2S3A/$PREFIX$
  src/Addons/34thPRC_WeaponsStandard/M99A2S3A/config.cpp
  src/Addons/34thPRC_WeaponsStandard/config.cpp
  src/changelog.md
Labels: area: config, area: script, area: texture

#382 more xm1 ab srs
  src/Addons/34thPRC_Functions/M99A2S3A/functions/set_fuse_distance.sqf
  src/changelog.md
Labels: area: config, area: script, area: texture

#383 0.24.0
  src/changelog.md
Labels: release

#390 0.24.1
  src/Addons/34thPRC_ArmourStandard/patches/jumppacks/kjwjetpacks/config.cpp
  src/Addons/34thPRC_ArmourStandard/patches/jumppacks/scionconflict/config.cpp
  src/Addons/34thPRC_Functions/M99A2S3A/config.cpp
  src/Addons/34thPRC_Functions/config.cpp
  src/Addons/34thPRC_WeaponsStandard/M99A2S3A/config.cpp
  src/Addons/34thPRC_WeaponsStandard/config.cpp
  src/changelog.md
Labels: area: config, release

#391 Fix/my own stupidity
  src/Addons/34thPRC_Main/config.cpp
Labels: area: config, release

#394 0.24.2
  src/Addons/34thPRC_Functions/config.cpp
  src/changelog.md
Labels: area: config

#395 sigh
  src/Addons/34thPRC_Main/config.cpp
Labels: area: config

#384 Fix hemtt errors
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/ma_vests/config.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/34th_CH252D.rvmat
  src/Addons/34thPRC_ArmourStandard/data/odst2/34th_odst_M52.rvmat
  src/Addons/34thPRC_Overrides/data/backpacks/exosuit/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/marines/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/bulldog/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/vehicles/springbok/config_vehicles.hpp
  src/Addons/34thPRC_Vehicles/data/scorpion/config_vehicles.hpp
  src/Addons/SEC_GuestPack/$PREFIX$
  src/Addons/sc_uniforms/$PREFIX$
Labels: area: config

#403 Fix/airburst
  .gitignore
  src/Addons/34thPRC_Functions/$PREFIX$
  src/Addons/34thPRC_Functions/M99A2S3A/a2s3a_preinit.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/config.cpp
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ace/airburst_ammunition_handler.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/conditions.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/fired_eh.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/handle_is_burst.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/keybind.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/lase_distance_infantry.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/lase_distance_vehicle.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/set_fuse_distance.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ui/onConfirm.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ui/onExit.sqf
  src/Addons/34thPRC_Functions/M99A2S3A/functions/ui/onLoad.sqf
  src/Addons/34thPRC_WeaponsStandard/M99A2S3A/config.cpp
  src/changelog.md
Labels: meta, area: config, area: script

#404 Feature/tcp hud
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/urban/config_weapons.hpp
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/helmets/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/helmets/crewman/config_weapons.hpp
  src/changelog.md
Labels: area: config

#407 fix depolarisation error
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/config_weapons.hpp
  src/changelog.md
Labels: area: config

#406 0.24.3
  src/changelog.md
Labels: release

#410 Feature/vasya custom armor
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_ArmourCustom/config.cpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arctic/vasya_odst_shoulders_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arctic/vasya_odst_vest_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arid/vasya_odst_shoulders_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arid/vasya_odst_vest_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/tropic/vasya_odst_shoulders_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/tropic/vasya_odst_vest_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/urban/vasya_odst_shoulders_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/urban/vasya_odst_vest_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/visor/vasya_odst_visor.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/woodland/vasya_odst_shoulders_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/woodland/vasya_odst_vest_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

#417 All names changed
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/marines2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/odst2/config.hpp
  src/changelog.md
Labels: area: config

#421 ODST Woodland Tweak
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_CQB.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Helmet.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Marksman.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Shoulders.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Shoulders_Medic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Vest.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_Woodland_ODST_Vest_Medic.paa
Labels: area: texture

#412 New ODST Backpack
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/odst/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/odst2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/arctic/34th_odst_rucksack_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/arid/34th_odst_rucksack_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst/tropic/34th_odst_rucksack_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst/woodland/34th_odst_rucksack_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/34th_odst_rucksack_AS.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/34th_odst_rucksack_NOHQ.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/34th_odst_rucksack_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/M52_Rucksack.rvmat
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_odst_rucksack_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/34th_odst_rucksack_medic_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arctic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_odst_rucksack_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/34th_odst_rucksack_medic_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/arid/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_odst_rucksack_medic_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/34th_odst_rucksack_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/tropic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_odst_rucksack_medic_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/34th_odst_rucksack_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/urban/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_odst_rucksack_medic_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/34th_odst_rucksack_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/odst2/woodland/config_vehicles.hpp
  src/changelog.md
Labels: area: config, area: texture

#422 Update .editorconfig
  .editorconfig
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/visor/Recon_Visor.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Helmet.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Lower.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Shoulders.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Upper.rvmat
  src/Addons/34thPRC_ArmourStandard/data/mkiv/MKIV_Visor.rvmat
Labels: meta, area: config

#424 Better railgun ammo
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/config_ammo.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_ammo.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/railgun/config_ammo.hpp
  src/Addons/34thPRC_Overrides/data/weapons/railgun/config_magazines.hpp
  src/Addons/34thPRC_Overrides/data/weapons/railgun/config_weapons.hpp
  src/changelog.md
Labels: meta, area: config

#425 0.25.0
  src/changelog.md
Labels: release

#426 0.25.0
  src/Addons/34thPRC_Main/config.cpp
Labels: area: config, release

#431 Balance pass
  src/Addons/34thPRC_Overrides/data/weapons/railgun/config_ammo.hpp
  src/changelog.md
Labels: area: config

#429 BDU texture fixes + rvmat disabled
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/Winter_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/Desert_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/rvmats/LowerBDU_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/rvmats/TrooperCollar_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/rvmats/TrooperPadding_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/rvmats/TrooperStraps_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/rvmats/UpperBDU_SMDI.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/Brown_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Base_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/Blue_UpperBDU.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/Woodland_UpperBDU.paa
  src/changelog.md
Labels: area: config, area: texture

#434 0.25.1
  src/Addons/34thPRC_Main/config.cpp
  src/changelog.md
Labels: area: config, release
