Repository 34th-Para-Recon-Brimstone-Company/34th-PRC-Aux-Mod, pull requests merged in 2025-01, with the labels that each got.

#295 JFO for Marines/ODSTs
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/JFO/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/JFO/jfo_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/JFO/jfo_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/JFO/jfo_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/JFO/jfo_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/JFO/jfo_helmet_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

#298 NavSpecWep SRS99am w/ 19th Ammo
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/weapons/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/srs99am/config_weapons.hpp
  src/changelog.md
Labels: area: config

#300 model swap for the 1st MEU SAABR-96 to the OPTRE Stanchion
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/weapons/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/weapons/saabr96/config_weapons.hpp
  src/changelog.md
Labels: area: config

#301 Feature/Stanchion-Airburst-APFSDS
  src/Addons/34thPRC_Overrides/config.cpp
  src/Addons/34thPRC_Overrides/data/weapons/saabr96/config_weapons.hpp
  src/changelog.md
Labels: area: config

#302 Feature/commando 4 marines
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/commando/commando_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/commando/commando_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/commando/commando_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/commando/commando_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/commando/commando_helmet_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/commando/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/changelog.md
Labels: documentation, meta, area: config, area: texture

#303 CQC 4 Marines/ODSTs
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/CQC/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/CQC/cqc_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/CQC/cqc_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/CQC/cqc_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/CQC/cqc_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/CQC/cqc_helmet_woodland.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

#304 0.20.0
  src/changelog.md
Labels: release

#306 Grenadier 4 Marine's /ODSTs
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/commando/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/grenadier/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/grenadier/grenadier_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/grenadier/grenadier_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/grenadier/grenadier_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/grenadier/grenadier_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/grenadier/grenadier_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#309 Scout Helmet
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/grenadier/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/scout/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/scout/scout_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/scout/scout_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/scout/scout_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/scout/scout_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/scout/scout_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#311 Spartan Gunbags
  src/Addons/34thPRC_ArmourStandard/data/mkiv/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_vehicles.hpp
  src/Addons/34thPRC_Overrides/data/backpacks/exosuit/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#313 MVI Thermals
  src/Addons/34thPRC_Overrides/data/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/mvi/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/mvi_cnm/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/mvi_hul/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/mvi_ul/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/mvi_ul_cnm/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/mvi_ul_hul/config_weapons.hpp
  src/changelog.md
Labels: area: config

#314 Shewolf Custom ODST Helm
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/arctic/shewolf_odst_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/arid/shewolf_odst_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/tropic/shewolf_odst_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/urban/shewolf_odst_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/visor/shewolf_odst_visor.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/shewolf/woodland/shewolf_odst_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#308 Ambrose armour
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/ambrose_odst_cqb_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/ambrose_odst_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/ambrose_odst_marksman_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/ambrose_odst_shoulders_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/ambrose_odst_vest_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/ambrose_odst_cqb_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/ambrose_odst_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/ambrose_odst_marksman_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/ambrose_odst_shoulders_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/ambrose_odst_vest_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/ambrose_odst_cqb_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/ambrose_odst_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/ambrose_odst_marksman_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/ambrose_odst_shoulders_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/ambrose_odst_vest_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/ambrose_odst_cqb_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/ambrose_odst_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/ambrose_odst_marksman_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/ambrose_odst_shoulders_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/ambrose_odst_vest_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/visor/ambrose_odst_visor.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/ambrose_odst_cqb_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/ambrose_odst_helmet_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/ambrose_odst_marksman_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/ambrose_odst_shoulders_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/ambrose_odst_vest_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/ambrose/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/config_weapons.hpp
  src/changelog.md
Labels: area: config, area: texture

#319 pilot for marines and odsts
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/pilot/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/pilot/pilot_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/pilot/pilot_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/pilot/pilot_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/pilot/pilot_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/pilot/pilot_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#316 Shortened uniform names
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/config_weapons.hpp
  src/changelog.md
Labels: area: config

#323 Recon for Marines and ODST
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/recon_helmet_arctic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/recon_helmet_arid.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/recon_helmet_tropic.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/recon_helmet_urban.paa
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/recon_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#324 Feature/vas custom helm
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arctic/vasya_odst_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/arid/vasya_odst_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/tropic/vasya_odst_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/urban/vasya_odst_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/visor/vasya_odst_visor.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/vasya/woodland/vasya_odst_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#325 Feature/aax nvg support
  src/Addons/34thPRC_AceArsenalExtended/config.cpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/external/optre_nvgs/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/optre_nvgs/config.hpp
  src/changelog.md
Labels: area: config

#326 AAX MA Marine Pouches Complete
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/external/ma_vests/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/ma_vests/config.hpp
  src/changelog.md
Labels: area: config

#329 AAX for MKVB Shoulders
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/mkvb/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/vehicles/armour_standard/mkvb/shoulders/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/mkvb/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#334 34th Uniform w/ NS updated to NoShoulder
  src/Addons/34thPRC_ArmourCustom/config.cpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/jade/urban/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/woodland/config_weapons.hpp
Labels: area: config

#327 version-number-in-configs
  src/Addons/34thPRC_Main/config.cpp
  src/changelog.md
Labels: area: config

#337 Feature/aax misriah armory nvgs
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/external/ma_nvgs/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/ma_nvgs/config.hpp
  src/changelog.md
Labels: area: config

#338 Loading Texts, and New Loading Image
  src/Addons/34thPRC_LoadingScreens/config.cpp
  src/Addons/34thPRC_LoadingScreens/data/loading9.jpg
  src/changelog.md
Labels: area: config

#339 update release steps
  doc/Code_Style.md
  doc/Getting_Started.md
  doc/Senior_Developer.md
Labels: documentation, meta

#340 Update discord link in readme
  README.md
Labels: meta

#343 0.22.0
  src/changelog.md
Labels: release

#344 Code Style Fixes
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/marines2/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/ma_vests/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/external/optre_nvgs/config.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/EOD/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/pilot/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/marines2/specialist_helmets/recon/config_weapons.hpp
  src/Addons/34thPRC_LoadingScreens/config.cpp
  src/Addons/34thPRC_Overrides/data/vehicles/springbok/config_vehicles.hpp
Labels: area: config

#346 Luther Custom Helmet
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arctic/jfo_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arid/jfo_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/tropic/jfo_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/urban/jfo_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/woodland/jfo_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture

#347 git ignore for hemtt bits
  .gitignore
Labels: meta

#348 Update .paa and new visor
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arctic/jfo_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/arid/jfo_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/jfo_visor_custom.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/tropic/jfo_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/urban/jfo_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/luther/woodland/jfo_helmet_woodland.paa
Labels: area: config, area: texture

#350 34th IHADSS
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_standard/pilot/config.hpp
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/arctic/pilot_helmet_ext.paa
  src/Addons/34thPRC_ArmourStandard/data/pilot/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/arid/pilot_helmet_ext.paa
  src/Addons/34thPRC_ArmourStandard/data/pilot/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/pilot_helmet_addons.paa
  src/Addons/34thPRC_ArmourStandard/data/pilot/pilot_helmet_visor.paa
  src/Addons/34thPRC_ArmourStandard/data/pilot/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/tropic/pilot_helmet_ext.paa
  src/Addons/34thPRC_ArmourStandard/data/pilot/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/urban/pilot_helmet_ext.paa
  src/Addons/34thPRC_ArmourStandard/data/pilot/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourStandard/data/pilot/woodland/pilot_helmet_ext.paa
  src/changelog.md
Labels: area: config, area: texture

#361 remove 1st meu dependencies
  src/Addons/34thPRC_LoadingScreens/config.cpp
  src/Addons/34thPRC_Overrides/config.cpp
  src/changelog.md
Labels: meta, area: config

#362 0.23.0
  src/Addons/34thPRC_Main/config.cpp
  src/changelog.md
Labels: area: config, release

#357 thermal vision for HUL Gen 3
  src/Addons/34thPRC_AceArsenalExtended/data/aax_infos/weapons/external/optre_nvgs/config.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/hul3/config_weapons.hpp
  src/Addons/34thPRC_Overrides/data/nvgs/hul3g/config_weapons.hpp
  src/changelog.md
Labels: area: config

#364 Feature/jump pack model swap
  src/Addons/34thPRC_ArmourStandard/config.cpp
  src/Addons/34thPRC_ArmourStandard/data/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/backpacks/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/backpacks/s9solajumpjet/config_vehicles.hpp
  src/Addons/34thPRC_ArmourStandard/data/odst2/config_vehicles.hpp
  src/changelog.md
Labels: area: config

#367 Feature/custom helmets batch
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/marines2/group1/config.hpp
  src/Addons/34thPRC_AceArsenalExtended/data/aax_models/weapons/armour_custom/odst2/group1/config.hpp
  src/Addons/34thPRC_ArmourCustom/config.cpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/arctic/trooper_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/arid/trooper_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/tropic/trooper_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/urban/trooper_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/conex/woodland/trooper_helmet_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/arctic/trooper_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/arid/trooper_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/tropic/trooper_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/urban/trooper_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/marines2/ramirez/woodland/trooper_helmet_woodland.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arctic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arctic/recon_helmet_arctic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arid/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/arid/recon_helmet_arid.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/tropic/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/tropic/recon_helmet_tropic.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/urban/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/urban/recon_helmet_urban.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/visor/Recon_Visor.rvmat
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/visor/yandere_recon_visor.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/visor/yandere_recon_visor_AS.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/visor/yandere_recon_visor_NOHQ.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/visor/yandere_recon_visor_SMDI.paa
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/woodland/config_weapons.hpp
  src/Addons/34thPRC_ArmourCustom/data/odst2/yandere/woodland/recon_helmet_woodland.paa
  src/changelog.md
Labels: area: config, area: texture
